[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
yapf = "*"


[packages]

"opencv-python" = "*"
sanic = "*"

[requires]
python_version = "3.6"